body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    /* Added property for footer positioning */
    display: flex;
    min-height: 100vh; /* Ensures viewport height */
    flex-direction: column; /* Stacks content on top */
  }
  
  header {
    background-color:black;
    padding: 20px;
    text-align: center;
  }
  /*img{
    position: absolute;
    top: 50px;
    right: 0px;
    width: 10%; 
    height: 5%; 
    margin-right: 5%; 
  }*/

#tryhackme{
    position: absolute;
    top: 50px;
    right: 0px;
    width: 10%; 
    height: 5%; 
    margin-right: 10%; 
}
  nav {
    background-color: black;
    color: white;
    padding: 10px;
   /* opacity: 0; 
    transition: opacity 0.5s ease-in-out; */
  }
  
  nav ul {
    background-color: black;
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
  }
 
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  /*nav:hover {
    opacity: 1; 
  }
  */
  #about{
    /* Add a class name to your about me section */
    line-height: 1; /* Increases line spacing for better readability */
    margin-bottom: 20px; /* Adds some space after the paragraph */
    font-size: 16px; /* Adjust font size as desired */
    color: white; /* Sets a darker text color for better contrast */
    /*opacity: 0; 
    transition: opacity 0.5s ease-in-out; */
  }
  /*#about:hover{
    opacity: 1; 
  }*/
 
  nav a {
    text-decoration: none;
    color: white;
  }
  
  main {
    padding: 20px;
    flex: 1; /* Allows main content to fill remaining space */
  }
  
  section {
    margin-bottom: 20px;
  }
  h1{
    color: white;
    font-family: Oswald,Sevillana,Poppins,Lato,Roboto, Impact;
    font-weight: 10000px;
    font-size: 1000;
  }
  
  h2 {
    margin-top: 0;
    text-align: center;
  }
  
  .footer {
    text-align: center;
    padding: 10px;
    background-color: white;
    /* Added properties for centering */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
  }
  
.button:hover{
         color: antiquewhite;
}
  